<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="Second Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="User Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.UserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeekBarActivity"
            android:label="SeekBar Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.SeekBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="WebView Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.WebViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GesturesActivity"
            android:label="Gestures Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.GesturesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentsActivity"
            android:label="Fragmetns Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.FragmentsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoCompleteActivity"
            android:label="AutoComplete Activity">
            <intent-filter>
                <action android:name="com.example.myapplication1.AutoCompleteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>